* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    padding-right: 5px;
}

.logoTitulo {
    padding-left: 5px;
    height: 8vh;
}

.tabUno {
    padding-left: 35px;
}

.tabDos {
    padding-left: 70px;
}

.tabTres {
    padding-left: 105px;
}

.tabCuatro {
    padding-left: 140px;
}

.linkColor {
    color: #a27ef1;
}

.importante {
    color: #54ECC4;
}

.variable {
    color: #9CDCF1;
}

.numero {
    color: #AFC8A3;
}

.comentario {
    color: #C39178;
}

.dato {
    color: #DCDC9D;
}

.cond {
    color: #BA86C0;
}

.violeta {
    color: #DA70CA;
}

.amarillo {
    color: #FFB417;
}

.codCol {
    color: #569CD6;
}

.colComentario {
    color: #568B4D;
}

.const {
    color: #4FC1FF;
}

.segundoPar {
    color: #B670D6;
}

.tercerPar {
    color: #1D68F1;
}

.marino {
    color: #4EC9B0;
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
}

.containerGeneral {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 95%;
}

.generalUno,
.generalDos,
.generalTres {
    font-size: 1.5rem;
}

.generalUno {
    padding: 0px 0px 10px 20px;
}

.generalDos {
    padding: 0px 0px 5px 20px;
}

.generalTres {
    padding: 0px 0px 0px 30px;
}

.titulo {
    margin: 0px 0px 10px 20px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #8685EF;
}

.subtitulo {
    margin: 0px 0px 10px 20px;
    font-size: 1.75rem;
    font-weight: 350;
    color: #8FDC86;
}

.subtituloDos {
    margin: 0px 0px 0px 20px;
    font-size: 1.75rem;
    font-weight: 300;
    color: #FFD885;
}

.descripcion {
    line-height: 2.5rem;
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 300;
}

.codigo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #D4D4D4;
    background-color: #1E1E1E;
    margin: 15px 0px;
    padding: 10px 0px 10px 20px;
}

.resultado {
    padding-left: 20px;
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 5px;
    color: #FFEDCB;
}

.separacion {
    margin: 5rem 0;
}

.separacionSubtitulo {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.separacionBotH5 {
    margin: 1.5rem 0;
}

.addBorder {
    border: 4px solid #fff;
}